<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template :: head">
</head>
<body>
    <header th:replace="common/template :: header"></header>

    <div class="container">		
        <h1>Listado de terapeutas</h1>		
    </div>
    
    <div class="container">
        
        <a class="btn btn-primary btn-sm" th:href="@{/physios/add}"
            th:text="'Crear nuevo'" title="Crear Nuevo Registro">
        </a>
        <br>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="physio:${physiotherapists}">
                    <td th:text="${physio.name}"></td>
                    <td>
                        <a class="btn btn-success btn-sm" th:href="@{/physios/update/} + ${physio.id}"
                            th:text="'Editar'" title="Editar Registro">
                        </a>
                    </td>	
                    <td>
                        <!-- <a class="btn btn-danger btn-sm" th:href="@{/views/alumnos/delete/} + ${a.id}"
                            th:text="'Eliminar'" title="Eliminar Alumno"
                            onclick="return confirm('¿Esta seguro de eliminar el alumno?');">
                        </a> -->
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

    <footer th:replace="common/template :: footer"></footer>

</body>
</html>